extends layout

block content

	div(class='container-fluid')
		div(class='row' id='main-content')
			div(class='col-sm-3')
				div(id='message-name') 
					div(id='message-text') Messages
				
				// Sidebar	
				include sidebar


			div(class='col-sm-9')
				/// User name
				div(id='message-name') 
					h1(id='currentName') 
					p(id='currentEmail') 
				
				div(id='chat-window')
					div(id='output')
						

				div(id='always-on-bottom')
					input( id='message' type='text' placeholder='Message!' )
					button( id='send' ) Send

	div(id="currentUserName" style="display:none") #{Name}
	div(id="currentUserId" style="display:none") #{Id}
	div(id="currentUserEmail" style="display:none") #{Email}