nav(class="navbar" id="navigation")
	div(class="row")
		div(class="col-md-7")
			a(class="navbar-brand right" href="/")
				h1(id='mainLogo') Gossip 

		div(class="col-md-5")
			div(class="row") 
				div(class="col-md-9") 
					div(id="nav-name" class="logout") #{Name}

				div(class="col-md-3") 
					a(class="" href="/" class="logout")
						div(id="logout") logout